.mat-tab-label1 { padding: 15px 0 15px 0; }
.team-prop-display{
    background-color:rgb(255, 56, 56);
    display:flex;
    justify-items: center;
    padding-top: 1rem;
}
.team-prop-display button{
    margin-right: 1rem;
    margin-left: 1rem;
}
.card-header{
    background-color: rgb(174, 174, 245);
}