<!--eventually going to add a let sport of sports to loop through all available sports below-->
<mat-tab-group class="sports-tab" [backgroundColor]="'warn'" (selectedTabChange)="onSportClick($event)">
    <mat-tab *ngFor="let sport of sportsNew" label="{{sport.title}}"></mat-tab>
</mat-tab-group>

<mat-tab-group class="dates-tab" [backgroundColor]="'primary'"(selectedTabChange)="onDateClick($event)">
    <mat-tab *ngFor="let date of dates" label="{{date}}"></mat-tab>
</mat-tab-group>

<mat-tab-group class="games-tab" [backgroundColor]="'warn'" (selectedTabChange)="onGameClick($event)">
    <mat-tab *ngFor="let game of games" label="{{game.game}}"></mat-tab>
</mat-tab-group>

<mat-card >
    <mat-card-header class="card-header">
        <mat-card-title>Game Props</mat-card-title>
      </mat-card-header>
      <mat-divider class="card-header" ></mat-divider>
      <mat-card-content class="team-prop-display">
        <h1>{{displayPropHtml1.name + " :"}}</h1>
        <h2>H2H:</h2> 
        <button mat-raised-button color="primary">{{displayPropHtml1.h2h}}</button>
        <h2>Spread: {{displayPropHtml1.spreadPoint}}</h2> 
        <button mat-raised-button color="primary">{{displayPropHtml1.spreadPrice}}</button>
      </mat-card-content>
      <mat-card-content class="team-prop-display">
        <h1>{{displayPropHtml2.name + ":     "}}</h1>
        <h2>H2H:</h2> 
        <button mat-raised-button color="primary">{{displayPropHtml2.h2h}}</button>
        <h2>Spread: {{displayPropHtml2.spreadPoint}}</h2> 
        <button mat-raised-button color="primary">{{displayPropHtml2.spreadPrice}}</button>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="loadPlayerProps()">Player Props</button>
      </mat-card-actions>
</mat-card>
<!-- <br>
<mat-card>
    <mat-card-header class="card-header">
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-divider class="card-header" ></mat-divider>
      <mat-card-content class="team-prop-display">
        <h2>H2H:</h2> 
        <button mat-raised-button color="primary">{{displayPropHtml2.h2h}}</button>
        <h2>Spread: {{displayPropHtml2.spreadPoint}}</h2> 
        <button mat-raised-button color="primary">{{displayPropHtml2.spreadPrice}}</button>
      </mat-card-content>
</mat-card>
 -->
<br>

 <table mat-table *ngIf="playerPropsClicked" [dataSource]="playerProps" class="mat-elevation-z8">

   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Over/Under </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Player </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef> Point </th>
        <td mat-cell *matCellDef="let element"> {{element.point}} </td>
      </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
   