<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Sports Betting App</h1>
</mat-toolbar>


<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened">
    Start
  </mat-sidenav>

  <mat-sidenav-content >
    <mat-card *ngIf="!clicked">
      <mat-card-content class="welcome">
        <p>Welcome, This application is currently a work in progress. It is designed
          to offer you the best stats before placing a bet</p>
        <button mat-button color="primary" (click)="clicked = true" >Begin</button>
      </mat-card-content>
    </mat-card>
    <app-prop-screen *ngIf="clicked"></app-prop-screen>




  </mat-sidenav-content>



</mat-sidenav-container>