
mat-sidenav-container{
    height:calc(205vh - 112vh);
}
mat-sidenav{
    width:150px;
    background-color: #eee;
}
.sports-tab{
    border-top: 2px solid white;
}
.welcome{
   text-align: center;
}